body {
	background:#ecf0f1;
}

#status {
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;

}

.status-info p {
	align-self:center;
	padding:25px;
}

#charge {
	display:block;
	width:500px;
	height:400px;
	padding:0 15px;
}

.hidden {display:none;}

.meta{
	display:block;
	position:absolute;
	bottom:0;
	width:98%;
	padding:10px 1%;
	margin:0;
}

#charge-status{
	transition:.3s all;
	opacity:1;
}

.bat-change{
	opacity:.2;
}

a {
	color:#231f20;
}

@media screen and (max-width:800px){

	#charge {
		transform:rotate(-90deg);
	}

	.meta {
		text-align:center;
		width:96%;
		padding:2%;
	}
}
