body {
	background:#ecf0f1;
}

#status {
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;

}

.status-info p {
	align-self:center;
	padding:25px;
}

#charge {
	display:block;
	width:500px;
	height:400px;
}

.hidden {display:none;}

#charge-status {
	transition 1s width;
	//width:0;
}

